<div class="post" fxLayout="column" fxLayoutAlign="none stretch">

  <div class="topPart" fxLayout>
    <div fxFlex>
      <div fxLayout="column">
        <div class="author-name" fxFlex>{{post.author}}</div>
        <div *ngIf="postEditingMode != 2" class="post-body" fxFlex>{{post.post}}</div>
        <div *ngIf="postEditingMode != 2" class="post-body" fxFlex>Address: {{post.address}}</div>
        <div *ngIf="postEditingMode != 2" class="post-body" fxFlex>Phone: {{post.phone}}</div>

        <div class="imgDiv" *ngIf="post.photo" fxLayoutAlign="center none">
          <img (click)="photoClicked(post)" routerLinkActive="active" mat-card-image [src]="post.photo.url" alt="Image from firebase">
        </div>
      </div>

      <hr>

      <div fxLayout>

        <ng-template #alreadyLikedTemplate>
          <button class="unlikeBtn" mat-button color="accent" (click)="unlike()">     
            Unlike
          </button>
        </ng-template>

        <button class="likeBtn" mat-button color="primary" (click)="reply()">
          Reply
        </button>
      </div>

      <mat-form-field [class.hide]="postEditingMode!=2" dividerColor="accent">
        <input #updateInputElement matInput type="text" placeholder="Edit post" (keyup.enter)="save()" [(ngModel)]="updatedPostBody"
          name="updatedPostBody">
      </mat-form-field>
      
      <mat-form-field [class.hide]="postEditingMode!=2" dividerColor="accent">
        <input #updateInputElement matInput type="text" placeholder="Edit Address" (keyup.enter)="save()" [(ngModel)]="updatedAddress"
      name="updatedAddress">
     </mat-form-field>

     <mat-form-field [class.hide]="postEditingMode!=2" dividerColor="accent">
      <input #updateInputElement matInput type="text" placeholder="Edit Phone" (keyup.enter)="save()" [(ngModel)]="updatedPhone"
      name="updatedPhone">
    </mat-form-field>
    </div>

    <div *ngIf="postEditingMode==1" fxLayout>
      <button mat-icon-button (click)="enableEditing(updateInputElement)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="remove()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>

    <div *ngIf="postEditingMode==2" fxLayout>
      <button [disabled]="updatedPostBody==post.post" mat-icon-button (click)="save()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button (click)="cancel()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="options">
    <div class="likes">
      <span class="numLikes" *ngIf="numLikes!=0">{{numLikes}}</span>
    </div>
    <hr>
    <div class="all-comments">
      <div *ngFor="let obj of allComments" fxLayout>
        <div class="commentBox" fxLayout="column">
          <div class="author-name" fxFlex>{{obj.comment.author}}</div>
          <div class="post-comment" fxFlex>{{obj.comment.comment}}</div>
        </div>
        <span fxFlex></span>
        <div *ngIf="obj.editable" class="commentOptions" fxLayout>
          <!-- <button mat-icon-button (click)="editComment(obj)">
              <mat-icon>edit</mat-icon>
            </button> -->
          <button mat-icon-button (click)="deleteComment(obj.key)">
              <mat-icon>delete</mat-icon>
            </button>
        </div>
      </div>
    </div>
    <div class="comments" fxLayout>
      <mat-icon>comment</mat-icon>
      <!-- <mat-input-container fxFlex class="writeComment" mat-no-float> -->
      <input (keyup.enter)="comment()" matInput type="text" class="writeComment" placeholder="Add a comment" [(ngModel)]="nowComment"
        name="nowComment">
      <!-- </mat-input-container> -->
    </div>
  </div>
</div>
